@import url(font.css);
  
body, html{
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    line-height: 1;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; */
}

.container {
    background-color: rgb(155, 155, 155);
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px;
    box-sizing: border-box;
}

.generator {
    background-color: rgb(135, 135, 135);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 8px;
    grid-auto-rows: minmax(30px, auto);
    padding:10px;
    border-radius: 10px;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:12px;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    
}

.generate-button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(61, 88, 71);
    color:white;
    width:100%;
    border-radius: 10px;
    transition: 0.2s;
    cursor:pointer
}

.generate-button:hover {
    transform: scale(1.05);
}

.generate-button:active {
    transform: scale(1);
}

#generate-text {
    width:100%;
}

select {
    border-radius: 10px;
    background-color: rgb(79, 79, 79);
    color:white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-left:5px;
    padding-right:5px;
    box-sizing: border-box;
}

latex-js {
    display: inline-block;
    width: 100%;
    border: 1px solid red;
    margin-right: 2em;
}

.problem-list {
    margin-top:30px;
}

.problem {
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    padding:15px 15px 15px 15px;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.solution:hover {
    transform: scale(1.05);
}

.solution:active {
    transform: scale(1.00);
}

.solution {
    transition: 0.2s;
    cursor:pointer;
    background-color: rgb(86, 86, 86);
    min-width:70px;
    margin-left:5px;
    border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}